./geckodriver.log
tripadvisor_reviews_scraper/*
barcelona.csv
foo.csv
madrid.csv
manchester.csv
newyork.csv
paris.csv
sydney.csv
tokyo.csv
*.cfg
.log
losangeles.csv
docs/
data/
ferrol_test/
losangeles/
*.pyc
models/
.idea/
*.pkl
*.pdf
**/DEV_TXT*
**/CONTENTS*
**/DEV*
**/TEST*
**/TRAIN*
**/N_USR*
**/V_TXT*
**/*.csv
*.txt
